/* PC */
@media (min-width: 64em) {

}

/* Tablet + Mobile */
@media (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 13px 12px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 16px;
    }

    #footer .social {
        font-size: 36px;
    }

    #footer .social a {
        margin: 0 4px;
    }

    #footer .copyright {
        font-size: 18px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width {
        width: 100%;
    }

    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-mt-16 {
        margin-top: 16px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu {
        display: block;
    }

    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial; 
        /* position về giá trị default */
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 12px 40px;
        /* Bằng padding của thẻ cha + ~16px để trông giống menu con */
        /* Chiều cao của btn hoặc element phải trong khoảng 42-48px để dễ bấm */
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-info {
        margin-bottom: 16px;
    }
}