/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .s-full-width {
        width: 100%;
    }

    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-mt-16 {
        margin-top: 16px !important;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu {
        display: block;
    }

    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial; 
        /* position về giá trị default */
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 12px 40px;
        /* Bằng padding của thẻ cha + ~16px để trông giống menu con */
        /* Chiều cao của btn hoặc element phải trong khoảng 42-48px để dễ bấm */
    }

    #content .member-item {
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }
}